<div>
    <h1>All Profiles</h1>
    <a class="btn btn-primary" href="/profiles/create"><i class="fas fa-plus"></i> New Profile</a>
    <table style="margin-top:10px" class="table table-stripped">
        <thead>
            <tr class="align-middle text-center">
                <th>Id</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% listProfile.map(function(value, index) { %>
            <tr class="align-middle text-center">
                <td class="align-middle"><%= value.profileId %></td>
                <td class="align-middle"><%= value.profileDescription %></td>
                <td class="align-middle">
                    <div>
                        <button data-id="<%= value.profileId %>" class="btn btn-danger btnDelete"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<script src="/js/admin/profiles/delete.js"></script>
