<div>
    <h1>Create a New Profile</h1>
    <p class="proCreateMsg mt-2"></p>
    <div>
        <div class="form-group">
            <label for="proDescription">Description:</label>
            <input class="form-control" type="text" id="proDescription" />
        </div>
        <div>
            <button id="btnCreate" class="btn btn-primary">Create</button>
            <a class="btn btn-secondary" href="/profiles">Back</a>
        </div>
    </div>
</div>
<script src="/js/admin/profiles/create.js"></script>
